/* Estilos generales */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
  }
  
  .info-container {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .register {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .register input {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
    width: 100%;
    max-width: 300px;
  }
  
  .register .add-btn {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilos para la tabla */
  .table-container {
    overflow-x: auto; /* Por si hay muchas columnas */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
  }
  
  td {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  /* Estilo para el enlace de eliminar */
  .delete-btn {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    text-decoration: underline;
  }
  
